body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
section {
  display: flex;
  padding-left: 2%;
}
div {
  width: 50%;
}
section img {
  width: 80%;
  padding-left: 8%;
}
